<footer class="footer has-background-inherit">
    <p class="has-text-centered is-small">
        {%- if site.footer_menu -%}
            {%- for item in site.data[site.footer_menu] -%}
                <a href="{{ item.link | relative_url }}">{{ item.name }}</a>
                {%- unless forloop.last -%}
                    <span> | </span>
                {%- endunless -%}
            {%- endfor -%}
        {%- endif -%}
    </p>

    <p class="has-text-centered is-small">This site does not use cookies or analytic tools requiring you to consent or define allowed services. For our privacy notice, see the links above.</p>
</footer>